<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/867c591370.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--header-->
    <header class="bg-dark">
      <nav class="navbar navbar-expand-lg navbar-light text-light">
        <div class="container-fluid">

            <a href="/" class="navbar-brand p-2 text-light">Bookers</a>
            <button class="navbar-toggler border-secondary btn-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
                <% if user_signed_in? %>
                  <li class"nav-item">
                    <div class="row">
                    <%= link_to user_path(current_user.id), class: "nav-link text-white" do %>
                      <i class="fa-solid fa-house"></i> Home
                    <% end %>
                    </div>
                  </li>
                  <li class"nav-item">
                    <%= link_to users_path, class: "nav-link text-white" do %>
                      <i class="fa-solid fa-users"></i> Users
                    <% end %>
                  </li>
                  <li class"nav-item">
                    <%= link_to books_path, class: "nav-link text-white" do %>
                    <i class="fa-solid fa-book-open"></i> Books
                    <% end %>
                  </li>
                  <li class"nav-item">
                    <%= link_to destroy_user_session_path, method: :delete, class: "nav-link text-white" do %>
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                    <% end %>
                  </li>
                  <% else %>
                  <li class"nav-item">
                    <%= link_to homes_about_path, class: "nav-link text-white" do %>
                    <i class="fa-solid fa-link"></i> About
                    <% end %>
                  </li>
                  <li class"nav-item">
                    <%= link_to new_user_registration_path, class: "nav-link text-white" do %>
                    <i class="fa-solid fa-user-plus"></i> Sign up
                    <% end %>
                  </li>
                  <li class"nav-item">
                    <%= link_to new_user_session_path, class: "nav-link text-white" do %>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>

        </div>
      </nav>
    </header>
<!--main-->
    <main>
      <%= yield %>
    </main>
<!--footer-->
    <footer>
      <div class="container-fluid">
        <p class="p-4 text-center">CopyRight Infratop.inc</p>
      </div>
    </footer>
  </body>
</html>
